@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#22223b !important;
}

body {
    margin: 0;
    /* background: #EEE2DC; */
  
  }
  
  * {
    font-family: 'Roboto Slab',sans-serif
  }
  