.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#22223b !important;
}

body {
    margin: 0;
    /* background: #EEE2DC; */
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  